a {
  text-decoration: none;
}
.nav-tabs {
  padding-left: 0;
}
.nav-item {
  width: calc(100% / 3);
}
.nav-item button {
  display: block;
  width: 100%;
}
.service-24 {
  color: #8d97ad;
  font-weight: 300;
}

.service-24 h1,
.service-24 h2,
.service-24 h3,
.service-24 h4,
.service-24 h5,
.service-24 h6 {
  color: #3e4555;
}

.service-24 .card.card-shadow {
  box-shadow: 0px 0px 10px #ccc;
}

.service-24 a {
  text-decoration: none;
}

.service-24 .card-hover:hover {
  background: linear-gradient(to right, #007bff 0%, #036ee0 100%);
}

.service-24 .card-hover:hover .bg-success-grediant {
  color: #ffffff;
  text-fill-color: #ffffff;
  -webkit-text-fill-color: #ffffff;
}

.service-24 .card-hover:hover .ser-title {
  color: #ffffff;
}

.service-24 .bg-success-grediant {
  background: linear-gradient(to right, #007bff 0%, #036ee0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-size: 50px;
}

.service-24 .wrap-service-24 .card {
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
}

.service-24 .wrap-service-24 .card:hover {
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  cursor: pointer;
}

.service-24 .btn-outline-success {
  color: #007bff !important;
  background-color: transparent;
  border-color: #007bff;
}

.service-24 .btn-outline-success:hover {
  background: #007bff;
  border-color: #007bff;
  color: #ffffff !important;
}

.service-24 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}
.icons svg {
  transition: 0.3s;
}
.icons svg:hover {
  fill: #007bff;
}
.text-hover {
  transition: 0.3s;
}
.text-hover:hover {
  color: #007bff !important;
}
.form-select {
  background-position: right 0.75rem center !important;
}
textarea {
  resize: none !important;
}
.animate-spin {
  width: 100%;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
